.mostrar {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 80vw;
  height: 100vh;
  overflow: auto;
  background-color: white;
  border: 3px solid #222;
  border-radius: 0 15px 15px 0;
}
.iconClose {
  display: block;
  background-color: black;
  color: #000;
  z-index: 2000;
  width: 30px;
}
.card-carrito {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 6px 2px 0 2px;
  border: 3px solid #222;
  border-radius: 10px;
}
.imagenCarrito {
  width: 100px;
  height: 100px;
}
.lista {
  list-style-type: none;
}
.art {
  width: 200px;
}
.lista img {
  padding-top: 4px;
}
.tituloCarrito {
  font-size: 30px;
  text-align: center;
  padding: 2rem;
}
.eliminar-carrito {
  width: 50px;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
  border: 1px solid rgba(146, 146, 187, 0.254);
  box-shadow: 1px 1px 1px 1px #3a4454;
}
.eliminar-carrito:hover {
  box-shadow: 2px 2px 3px 2px #3a4454;
}
.pTota {
  text-align: center;
  padding: 2rem;
  margin: 10px 0;
  font-size: xx-large;
  background-color: var(--coloracento);
  color: var(--colorprincipal);
}
.btn-comprar {
  width: 90%;
  margin: 1rem;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--colorprincipal);
  color: var(--colorsecundario);
  cursor: pointer;
  box-shadow: 5px 3px 10px 2px #3a4454;
}
.btn-comprar:hover {
  background-color: var(--coloracento);
  color: var(--colorprincipal);
}
.talle {
  padding: 6px;
  margin-right: 24px;
}
@media (max-width: 768px) {
  .mostrar {
    width: 100vw;
    border-radius: 0;
  }

  .card-carrito {
    flex-wrap: wrap;
    font-size: x-small;
    justify-content: start;
  }
  .lista {
    margin: 4px;
  }
  /* .art {
    width: 120px;
  } */
  .imagenCarrito {
    margin: 0;
    width: 50px;
    height: 50px;
  }
  .tituloCarrito {
    font-size: 20px;
    text-align: center;
    padding: 1.5rem;
  }
  .eliminar-carrito {
    width: 30px;
    height: 30px;
    padding: 0;
  }
  .talle {
    padding: 0;
    margin-right: 0;
  }
  .iconClose{
    color: black;
  }
}
