
.mostrar{
  display: block;
  position:fixed;
  z-index: 20000;
  top: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  background-color:white;
  border: 3px solid #222;
  border-radius: 0 15px 15px 0;
}
.card-carrito{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 6px 2px 0 2px;
  border: 3px solid #222;
  border-radius: 10px;
}
.imagenCarrito{
  width: 100px;
  height: 100px;
}
.lista{
  list-style-type: none;
}
.art{
  min-width: 200px;
}
.lista img{
  padding-top: 4px;
}
.tituloCarrito{
  font-size: 30px;
  text-align: center;
  padding: 2rem;
}
.eliminar-carrito{
  width: 50px;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
  border: 1px solid rgba(146, 146, 187, 0.254);
  box-shadow:1px 1px 1px 1px #3A4454;
}
.eliminar-carrito:hover{
  box-shadow:2px 2px 3px 2px #3A4454;
}
.pTota{
  text-align: center;
  padding: 2rem;
  margin: 10px 0;
  font-size: xx-large;
  background-color: var(--coloracento);
  color: var(--colorprincipal);
}
.btn-comprar{
  width: 90%;
  margin: 1rem;
  padding: 10px;
  border-radius:20px;
  background-color: var(--colorprincipal);
  color: var(--colorsecundario);
  cursor:pointer;
  box-shadow:5px 3px 10px 2px #3A4454;
}
.btn-comprar:hover{
  background-color: var(--coloracento);
  color: var(--colorprincipal);

}
.talle{
  padding: 6px;
  margin-right: 24px;
}