/* ===== LOGO ===== */
.iconClose {
  display: none;
}

.logo img {
  width: 150px;
  margin: 10px;
  padding: 6px;
  border-radius: 20px;
}

.logo {
  list-style: none;
  text-decoration: none;
}

/* ===== NAVBAR ===== */

.barra {
  font-size: large;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--colorterciario);
}

/* ===== ITEMS ===== */

.barraItems {
  list-style: none;
  margin: 10px;
  padding: 10px;
}

.barraLinks {
  color: white;
  text-decoration: none;
  padding: 8px;
  transition: 0.3s ease;
}

.barraLinks:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.barraLinks.activo {
  text-decoration: underline;
  font-weight: 600;
}

/* ===== BOTÓN HAMBURGUESA ===== */

.hamburguesa {
  display: none;
  font-size: 28px;
  color: black;
  cursor: pointer;
  user-select: none;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .hamburguesa {
    display: block;
    position: absolute;
    z-index: 1;
    border: solid 3px black;
    border-radius: 5px;
    margin: 2px 6px;
    padding: 0 6px;
  }

  .barra {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 70vw;
    border-radius: 0px 20px 20px 0px;

    background: var(--colorterciario);

    flex-direction: column;
    padding: 80px 20px 20px;
    gap: 5px;

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }
  .iconClose {
    display: block;
    color: white;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    
    border-radius: 10px;
    padding: 4px;
  }
  .barra.activo {
    transform: translateX(0);
    position: absolute;
  }
  /* .logo img{
    display: none;
  }*/
}
