.logo img{
  width: 150px;
  margin: 10px;
  padding: 6px;
  border-radius: 20px;
}
.logo{
  list-style: none;
  text-decoration: none;
}
.categorias{
  display: flex;
  flex-wrap: wrap;
}
.barra{
  font-size: large;
  padding: 1rem;
  width: 100%;
  min-width: 425px;
  max-height: 600px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--colorterciario);
  
}
.barraLinks{ 
  color:white;
  text-decoration: none;
  margin: 2px;
  padding:8px;
}
.barraLinks.activo {
  text-decoration: underline;
  font-weight: 600;
  
}
.barraItems{
  list-style: none;
  margin: 10px;
  padding:10px;
  
}

.barraItems :hover{
  opacity: 0.7;
  text-decoration-line: underline;
}
h5{
  text-align:center;
  margin: 8px;
  padding: 4px;
}
