.acerca-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

/* Título principal */
.acerca-container h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}

/* Secciones */
.acerca-container section {
  margin-bottom: 25px;
}

/* Subtítulos */
.acerca-container h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #222;
  border-left: 4px solid #000;
  padding-left: 10px;
}

/* Párrafos */
.acerca-container p {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Listas */
.acerca-container ul {
  padding-left: 20px;
}

.acerca-container li {
  margin-bottom: 6px;
}

/* Línea separadora */
.acerca-container hr {
  margin: 30px 0;
  border: none;
  border-top: 1px solid #ddd;
}

/* Texto final */
.acerca-container .firma {
  text-align: center;
  font-weight: bold;
  color: #555;
}
.logoRedes{
  text-decoration: none;
  color: var(--colorprincipal);
}
.logoRedes:hover{
  color: var(--colorterciario);
    text-decoration: underline;
}
/* Responsive */
@media (max-width: 600px) {
  .acerca-container {
    margin: 20px 10px;
    padding: 15px;
  }

  .acerca-container h1 {
    font-size: 1.6rem;
  }

  .acerca-container h2 {
    font-size: 1.1rem;
  }
}
